@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.login_page {
	background: rgba(0, 128, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h1 {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
.input{
	margin-top: 10px;
	margin-bottom: 10px;
}
#signinheader{
	padding-top: 120px;
	font-weight: bold;
}
#signinbutton{
	margin-top: 20px;
}
.message{
	font-weight: bold;
}

h2 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
#headinglogin{
	text-align: center;
    font-size: 60px;
	color: rgb(45, 41, 41);
	padding-bottom: 35px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
